
// h1, h2, h3, h4, h5, h6 {
//   font-family: 'Open Sans', sans-serif;
// }

// div, span {
//   font-family: 'Roboto', sans-serif;
// }

body {
  margin: 0;
  @import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400|Roboto:300,400');
  font-family: 'Roboto', sans-serif;
  background: #e2e1e0;

  #root > div {
    overflow: hidden;
    height: 100vh;

    .main-container {
      width: 100vw;
      height: 100vh;
      box-sizing: border-box;
    }
  }

  @import './scss/header-container.scss';
  @import './scss/map-container.scss';
  @import './scss/list-container.scss';
  @import './scss/_room-marker.scss';

}
